/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Mettere come classe .img-fluid se necessario */
img {
    /* display: block; */
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}



/* DEBUG */
.debug ,
.debug * {
    min-height: 50px;
    /* padding: 5px; */
    background-color: #ff000022;
    /* border: 2px dashed red; */
    outline: 1px solid red;
}



/* ⚙️ VARIABILI ⚙️ */
:root {
    --col-spacing: 1rem;
    --sidebar-width: 3rem;
    --player-height: 5rem;
}



/* UTILS */
section {
    padding: calc(2 * var(--col-spacing)) 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--col-spacing) * -1) 0;
    row-gap: calc(2 * var(--col-spacing));
}
.row [class*="col"] {
    padding: var(--col-spacing) 0;
}
.row-no-gap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    row-gap: 0;
}
.row-no-gap [class*="col"] {
    padding: 0;
}
.col-100 {
    width: 100%;
}
.col-1-2 {
    width: calc(100% / 2);
}
.col-1-3 {
    width: calc(100% / 3);
}
.col-2-3 {
    width: calc(100% / 3 * 2);
}
.col-1-4 {
    width: calc(100% / 4);
}
.col-3-4 {
    width: calc(100% / 4 * 3);
}
.col-1-5 {
    width: calc(100% / 5);
}
.col-4-5 {
    width: calc(100% / 5 * 4);
}
.col-1-6 {
    width: calc(100% / 6);
}
.col-5-6 {
    width: calc(100% / 6 * 5);
}
.btn {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 0;
}



/* MACROSTRUTTURA */
body {
    font-family: sans-serif;
    background-color: #141922;
    color: #A3A3A3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
main {
    flex: 1 1 auto;

    display: flex;
    overflow: hidden;
}
#main-content {
    flex: 1 1 auto;

    overflow: auto;
}
#sidebar {
    background-color: #000000;
    flex: 0 0 auto;
    width: var(--sidebar-width);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: .75rem;

    overflow: auto;
}
#player {
    background-color: #282828;
    flex: 0 0 auto;
    height: var(--player-height);
}











/* #SIDEBAR */
#logo-big {
    display: none;
    max-width: 10rem;
    /* Test movimento sticky, eventualmente da fare in metodo Web App */
    /* position: sticky;
    padding-bottom: 1rem;
    top: 0;
    background-color: #000; */
}
#logo-small {
    margin-bottom: 1rem;
    background-color: #000;
}
.sidebar-main nav a,
.install-app,
.profile {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.sidebar-menu {
    margin: 2rem 0;
}
.sidebar-menu ul,
.sidebar-playlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-menu ul {
    gap: .5rem;
}
.sidebar-menu ul img {
    width: 1.5rem;
}
.sidebar-menu .label {
    display: none;
}
.sidebar-playlist {
    display: none;
}
.sidebar-playlist ul {
    gap: 1rem;
}
.sidebar-playlist li:first-child {
    padding: 1rem 0 0;
}
.add-playlist {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    background-color: #A3A3A3;
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
}
.sidebar-footer .label {
    display: none;
}
.install-app img {
    width: 1rem;
}
.profile-picture {
    background-color: #808080;
    width: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}



/* SMALL */
@media screen and (min-width: 576px) {
    :root {
        --sidebar-width: 15rem;
    }
    /* #SIDEBAR */
    #logo-big {
        display: block;
    }
    #logo-small {
        display: none;
    }
    .sidebar-playlist {
        display: block;
    }
    .sidebar-menu ul,
    .sidebar-playlist ul,
    .sidebar-footer {
        align-items: flex-start;
    }
    .sidebar-menu .label,
    .sidebar-footer .label {
        display: inline-block;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) {
    /* #SIDEBAR */
}
/* LARGE */
@media screen and (min-width: 992px) {
    /* #SIDEBAR */
}